body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
    width: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: #333;
}